.panel-heading
  .panel-body
    = form_for resource, as: resource_name, url: unlock_path(resource_name), html: {method: :post, class: 'form-horizontal m-t-20'} do |f|

      %h4.m-b-10.l-h-25.text-center Informe seu e-mail para receber as instruções de desbloqueio de acesso.

      .form-group.has-feedback.has-feedback-left
        .col-xs-12
          = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail', required: true
          %i.glyphicon.glyphicon-lock.form-control-feedback

      .form-group
        .col-xs-6.text-left
          = f.submit 'Enviar', class: 'btn btn-primary'
        .col-xs-6.text-right
          = link_to 'Voltar para Login', new_session_path(resource_name), class: 'btn btn-default'